.filter-container{  
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: sticky;
    top:1em;
    margin: auto;
    padding: 1rem;
    background-color: white;
}

@media  (max-width:600px){
    .filter-container{ 
        display: none; 
        position: absolute;
        top:20rem;
        right: 1px;
        z-index: 999;
    }
}
@media  (min-width:600px){
    .filter-container{ 
        display: block !important;
        background-color: aqua;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: sticky;
        top:1em;
        margin: auto;
        padding: 1rem;
        background-color: white;
    }
}